.thumbnail{
    height: 150px;
}
.bg-view-more{
    text-decoration: none;
    background: $bg-black;
    padding: 15px;
    border-radius: 10px;
    &:hover{
        background: $bg-red;
    }
}

.img-height{
    height: 150px;
}
.link{
    color:$bg-black !important;
}