
body{
    background: $bg-color;
    font-family: sans-serif,'Open Sans';
}

.btn-download{
    background: $bg-red;
    border: none;
    border-radius: 10px;
    &:hover{
        background: $bg-black;
    }
}
.text-justify {
    text-align: justify;
}
.myself{
    color:$bg-red;
}
.dark-card{
    background: $bg-gray;
    color:$bg-white;
    padding: 6px;
    cursor: pointer;
    &:hover{
        background: $bg-red;
    }
}
.border-bottom{
    border:1px solid $bg-black;
    margin:40px 0px 80px 0px;
}

.navbar-toggler{
    background: $bg-red;
    color:$bg-white !important;
}
.marge{
    margin-top: 40px;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .navbar-expand-lg{
        text-align: center;
    }
    .stats-item{
        text-align: center;
    }
    .container-photo{
        margin: 50px auto;
    }
    .btn-download{
        margin: 40px auto;
    }
    .banner{
        margin-top:50px !important;
    }
}

@media screen and (max-width:500px){
    .company-logo{
        height: 100px !important;
        width: 100px;
    }
}