.testimony-switch{
    background: $bg-black;
    border: none;
    &:hover{
        background-color: $bg-gray;
        transition: all 0.4s;
    }
}

.ml-3{
    margin-left: 15px;
}
.stars-icon{
    font-size: 18px;
    color:orange;
}
.comment-icon{
    font-size: 18px;
}
.avatar{
    background: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimony-indicator{
    margin-top: 40px;
    gap:10px;
    .indicator{
        background: $bg-white;
        padding: 5px;
        border: none;
        border-radius: 10px;
    }
    .active{
        background: $bg-red;
    }
}

.show{
    display: flex !important;
    animation: fade 0.8s;
}
.hidden{
    display: none !important;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}