.icon{
    font-size: 23px;
    padding: 4px;
    background: $bg-black;
}

#scrollTop {
    position: fixed;
    top: 70%;
    right: 35px;
    bottom: 90px;
    z-index: 99;
    color:$bg-red;
    font-size: 30px;
    border-radius: 10px;
}