
.container-photo{
    .img{
        width: 100%;
    }
    position: relative;
    height:auto;
    animation: animateIcon 6s infinite forwards;
}
.banner{
    margin-top: 100px;
}
#contact{
    .icon{
        margin-top: 10px;
        font-size: 15px;
        background: #000;
        padding: 5px;
    }
}

a{
    color:$bg-white;
    text-decoration: none;
}
#statistics{
    margin-top: 50px;
    .stats-item{
        margin-right: 25px;
        color:$bg-white;
        font-size: 20px;
        .counter{
            font-size: 30px;
        }
    }
}
.text-color-red{
    color:$bg-red;
}
#services{
    .icon-service{
        font-size:45px;
    }
}

@keyframes animateIcon {
    from{
       opacity: 0;
    }
    to{
       opacity: 1;
    }
}